/* CSS files add styling rules to your content */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
}

h1, p {
  margin: 0 0 1em 0;
  text-align: center;
}

/* make a grid */
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  grid-gap: 10px;
}

.wrapper > * {
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0.5em;
}

a {
  text-decoration: none;
}

nav {
  text-align: center;
}

footer {
  text-align: center;
}
